.footer {
    background-color: var(--black);
    padding: 45px 0;
}

.footer-wraps:not(:last-child) {
    margin-right: 40px;
}

.footer-container {
    justify-content: space-between;
}

.footer-list-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 22px;
  color: var(--light-grey);
  font-weight: 400;
  font-family: "Open Sans";
  text-align: left;
}

.footer-list-items {
  margin: 0;
  font-size: 15px;
  line-height: 22px;
  color: var(--dark-grey);
  font-weight: 400;
  font-family: "Open Sans";
  text-align: left;
  transition: color var(--short) ease-in-out;
}

.footer-list-items:hover {
    color: var(--violete);
}

.footer-svg {
    align-items: center;
}

.footer-svg-link {
    margin-right: 15px;
}


